/* Sidebar styles */
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 90px 0 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
    .sidebar {
        top: 11.5rem;
        padding: 0;
    }
}

/* Navbar styles */
.navbar {
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .1);
}

@media (min-width: 767.98px) {
    .navbar {
        top: 0;
        position: sticky;
        z-index: 999;
    }
}

/* Sidebar navigation links */
.sidebar .nav-link {
    color: #333;
}

.sidebar .nav-link.active {
    color: #0d6efd;
}

/* Main content styles */
/* Main content styles */
main {
    margin-left: 250px; /* Adjust for sidebar width */
    padding: 20px;
    width: calc(100% - 250px); /* Ensure the main content fills the remaining space */
    overflow: auto; /* Allow scrolling if content overflows */
}

